header#banner.hero-unit.mb20
  .container
    h3 Company Address Book

.container
  .row
    .col-lg-12
      .row
        a.btn.btn-success.pull-right.mb20(href="/employee/create") Create New Employee

      .row(ng-show="main.empCount>0")
        table.table.table-bordered.table-striped.table-condensed(ng-table='main.tableParams')
          tr(ng-repeat='row in $data')
            td(data-title="'ID'") {{row.empId}}
            td(data-title="'First Name'") {{row.firstName}}
            td(data-title="'Last Name'") {{row.lastName}}
            td(data-title="'Email'") {{row.email}}
            td(data-title="'Position'") {{row.position}}
            td(data-title="'Options'").text-center
              button(tooltip='Edit', ng-click="main.editEmployee(row._id)").btn.btn-default.i.fa.fa-edit.mr5
              button(tooltip='View', ng-click="main.viewEmployee(row._id)").btn.btn-default.i.fa.fa-external-link

      div.alert.alert-danger.text-center(ng-show="main.empCount<=0")
        strong {{main.emptyTableMsg}}
